<footer class="footer">
	<div class="footer__top">
		<div class="wrap">
			<div class="footer__top-container"></div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="wrap">
			<div class="footer__bottom-container">
				<div class="footer__bottom-holder">
					{{#if bottomText}}
						
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</footer>