<div class="banner">
	<div class="wrap">
		<div class="banner__holder">
			<div class="banner__content{{#ifEquals textPosition "right"}} banner__content--right{{/ifEquals}}">
				<h2 class="banner__title">{{title}}</h2>
			</div>
			<img src="{{image}}" alt="">
		</div>
	</div>
</div>