<header class="header">
	<div class="wrap">
		<div class="header__container">
			<a href="/" class="header__home">
				<img src="{{logo}}" alt="" class="header__logo">
			</a>
			{{#if menu}}
			<nav class="nav">
				<ul class="nav__list" role="menubar">
					{{#each menu}}
					<li class="nav__item" role="menuitem">
						<a href="javascript:;" class="nav__link">{{this}}</a>
					</li>
					{{/each}}
				</ul>
			</nav>
			{{/if}}
		</div>
	</div>
</header>