{{#> master this }}

{{> header data.header}}

	<main class="main">
		<ul style="padding: 300px;">
			<li>
				<a href="/home.html">Home</a>
			</li>
		</ul>
	</main>

{{> footer data.footer}}

{{/master}}