{{#> master this }}

{{> header data.header}}

	{{!-- {{#each data.sections1}}
		{{> (lookup this 'moduleAlias') this}}
	{{/each}}

	<div class="wrap">
		<span class="font-ico-chevron-down"></span>
		<span class="font-ico-dog"></span>
		<span class="font-ico-download"></span>
		<span class="font-ico-share"></span>
	</div>

	<div class="wrap">
		<div class="rte">
			{{{data.content}}}
		</div>
	</div>

	{{#each data.sections2}}
		{{> (lookup this 'moduleAlias') this}}
	{{/each}} --}}
	<main class="main">
		<ul style="padding: 300px;">
			<li>
				<a href="/home.html">Home</a>
			</li>
		</ul>
	</main>

{{> footer data.footer}}

{{/master}}