{{#> master this}}

{{> header data.header}}

<main class="main">
	{{#each data.sections}}
		{{> (lookup this 'moduleAlias') this}}
		{{!-- {{> banner data.banner}} --}}
	{{/each}}
</main>

{{> footer data.footer}}

{{/master}}
