{{#> master this}}

{{> header data.header}}

{{#each data.sections}}
	{{> (lookup this 'moduleAlias') this}}
{{/each}}

<div class="rte">
<p><a href="">text</a></p>

</div>

{{> footer data.footer}}

{{/master}}
