<div class="swiper">
	<div class="wrap">
		<!-- Slider main container -->
		<div class="swiper-container js-swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide"><img src="https://dummyimage.com/600x400/000/fff" alt="slide1"></div>
				<div class="swiper-slide"><img src="https://dummyimage.com/600x400/000/5600ff" alt="slide1"></div>
				<div class="swiper-slide"><img src="https://dummyimage.com/600x400/000/f20" alt="slide1"></div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<button type="button" class="swiper-button-prev">
				<span class="font-ico-chevron-down"></span>
			</button>
			<button type="button" class="swiper-button-next">
				<span class="font-ico-chevron-down"></span>
			</button>
		</div>
	</div>
</div>