// ----------  button
// ------------------------------------------------------------------------------

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

a,
button {
	appearance: none;
	outline: none;

	&:focus {
		outline: 1px dashed rgba($orange, 0.2);
	}
}

.btn {
	background-color: $orange;
	color: $white;
	max-width: 360px;
	height: 60px;
	width: 100%;
	border-radius: 5px;
	font-size: 18px;
	line-height: 60px;
	font-family: $font-default;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: 2px solid transparent;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		background: $white;
		height: 150px;
		width: 150%;
		border-radius: 50%;
		top: 100%;
		left: 100%;
		transition: 0.7s ease;
		transition-property: top, left, border-color, color;
	}

	@include hover {
		border-color: $orange;
		color: $orange;
		&::before {
			top: -50px;
			left: -50px;
		}
	}
}

.link {
	color: $orange;
	font-weight: 500;
	line-height: 30px;
	font-family: $font-default;
	text-decoration: underline;
	@include hover {
		color: $grey;
	}
}

.link-main {
	font-size: 24px;
}

.link-small {
	font-size: 18px;
}
