// ----------  forms
// ------------------------------------------------------------------------------
input,
textarea {
	background: $white;
	border-radius: 0;
	box-shadow: none;
	color: $black;
	height: 25px;
	padding: 0 10px;
	&::placeholder {
		color: $black;
	}
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='password'] {
	appearance: caret;
}

// @supports (-webkit-touch-callout: none) {
// 	select,
// 	textarea,
// 	input {
// 		font-size: 16px !important;
// 	}
// }
