// ----------  typography
// ------------------------------------------------------------------------------

.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font-default;
	font-weight: normal;
	line-height: 1.2;
}

.rte h1,
.h1 {
	font-weight: 600;
	font-family: $font-default;

	@include media-breakpoint-up(lg) {
		font-size: 64px;
		line-height: 72px;
	}

	@include media-breakpoint-only(md) {
		font-size: 52px;
		line-height: 56px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 38px;
		line-height: 40px;
	}
}

.rte h2,
.h2 {
	font-family: $font-default;
	color: $grey;
	font-weight: 600;

	@include media-breakpoint-up(lg) {
		font-size: 48px;
		line-height: 56px;
	}

	@include media-breakpoint-only(md) {
		font-size: 40px;
		line-height: 42px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 32px;
		line-height: 34px;
	}
}

.rte h3,
.h3 {
	font-weight: 600;
	font-family: $font-default;
	color: $grey;

	@include media-breakpoint-up(lg) {
		font-size: 24px;
		line-height: 36px;
	}

	@include media-breakpoint-only(md) {
		font-size: 20px;
		line-height: 24px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 18px;
		line-height: 20px;
	}
}

.rte h4,
.h4 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	font-family: $font-default;

	@include media-breakpoint-only(md) {
		font-size: 16px;
		line-height: 18px;
	}
}

.rte h5,
.h5 {
	font-size: 20px;
}

.rte h6,
.h6 {
	font-size: 16px;
}

.rte {
	p {
		font-size: 18px;
		line-height: 32px;
		color: $grey2;
		font-family: $font-secondary;
		a {
			@include hover {
				text-decoration: underline;
			}
		}
	}
	blockquote {
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		padding: 30px 0;
	}
	ul {
		padding-left: 20px;
	}
	ol {
		padding-left: 20px;
	}
	ul li {
		list-style-type: disc;
	}
	ol li {
		list-style-type: decimal-leading-zero;
	}
}

img {
	max-width: 100%;
}

.title-page {
	margin-bottom: 71px;
}

.title-page-small {
	margin-bottom: 38px;
}

.numbers-big {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	font-family: $font-secondary;
}
