<h2>O NORBS-u</h2>
<h3>NORBS – Nacionalna organizacija za retke bolesti Srbije</h3>
<iframe src="https://www.youtube.com/embed/tLmStxxzhkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Nacionalna organizacija za retke bolesti Srbije – NORBS osnovana je 23. jula 2010. godine, kao savez udruženja koja se bave pitanjima osoba sa retkim bolestima i članova njihovih porodica.</p>
<p>Osnovni cilj Nacionalne organizacije za retke bolesti Srbije je poboljšanje položaja i kvaliteta života ove populacije. Osnivači NORBS-a su:</p>
<ul>
    <li>ŽIVOT – Udruženje građana za borbu protiv retkih bolesti kod dece</li>
    <li>Savez distrofičara Srbije</li>
    <li>Udruženje za osobe sa cističnom fibrozom u Vojvodini – OSMEH</li>
    <li>Udruženje obolelih od fenilketonurije</li>
    <li>POsPID – Podrška osobama sa primarnim imunodeficitima</li>
    <li>Udruženje DEBRA – bulozna epidermoliza</li>
    <li>Udruženje roditelja dece obolele od malignih bolesti – ZVONČICA</li>
</ul>
<p>Nacionalna organizacija za retke bolesti Srbije – NORBS nije stručna, već je dobrovoljna, humanitarna, nestranačka, nevladina i neprofitna organizacija koju vode osobe sa retkim bolestima i članovi njihovih porodica.</p>
<p>Članovi Nacionalne organizacije za retke bolesti Srbije su sledeća udruženja:</p>
<ul>
    <li>ŽIVOT – Udruženje građana za borbu protiv retkih bolesti kod dece</li>
    <li>Savez distrofičara Srbije</li>
    <li>Udruženje za osobe sa cističnom fibrozom u Vojvodini – OSMEH</li>
    <li>PKU – Udruženje Srbije za pomoć obolelima od fenilketonurije i srodnih poremećaja</li>
    <li>POsPID – Podrška osobama sa primarnim imunodeficitima</li>
    <li>Udruženje za buloznu epidermolizu DEBRA
    </li>
    <li>Udruženje roditelja dece obolele od malignih bolesti – ZVONČICA
    </li>
    <li>Udruženje za pomoć i podršku obolelima od Fridrajhove ataksije</li>
    <li>Udruženje za pomoć i podršku osobama sa Cističnom fibrozom Srbije
    </li>
    <li>Udruženje građana za pomoć obolelima od Gošeove bolesti
    </li>
    <li>Udruženje za pomoć i podršku osobama sa mukopolisaharidozom i srodnim lizozimskim oboljenjima
    </li>
    <li>Udruženje za pomoć u lečenju obolelih od Fabrijeve bolesti
    </li>
    <li>Udruženje obolelih od multiplog mijeloma Srbije</li>
    <li>Nacionalno udruženje osoba sa nedostatkom hormona rasta i niskim rastom – HORAST</li>
    <li>Udruženje građana za pomoć obolelima od mijelofibroze</li>
    <li>Udruženje za bolesti motoneurona Srbije</li>
    <li>22q ex YU</li>
    <li>Plućna hipertenzija Srbije</li>
    <li>Udruženje građana za borbu protiv raka jajnika „Progovori“</li>
    <li>Udruženje Hrabriša</li>
    <li>Dišenova mišićna distrofija Srbija</li>
    <li>SMA Srbija</li>
    <li>Humanitarno udruženje WILSON</li>
    <li>Udruženje za Vilijamsov sindrom</li>
    <li>Udruženje građana za podršku obolelima od Dravet sindroma Srbija</li>
    <li>Udruženje PNH Srbija</li>
    <li>Retke očne bolesti Srbije</li>
    <li>GLUT1 Srbija</li>
    <li>Udruženje za podršku deci sa anorektalnim anomalijama JEDAN u 5000 Balkan </li>
    <li>​Udruženje pacijenata obolelih od plućne fibroze – SUPF</li>
    <li>GSD Srbija
        <a href="">hello</a>
    </li>
</ul>
<h4>Naši ciljevi</h4>
<ul>
    <li>jedinstveno zastupanje interesa osoba sa retkim bolestima i osoba sa invaliditetom nastalim kao posledica retke bolesti u Srbiji i jedinstveno nastupanje pred donosiocima odluka i drugim akterima u društvu;</li>
    <li>zaštita i ostvarivanje osnovnih ljudskih prava, eliminisanje diskriminacije i ostvarivanje jednakosti, ravnopravnosti i socijalne uključenosti osoba sa retkim bolestima i osoba sa invaliditetom nastalim kao posledica retke bolesti;</li>
    <li>zalaganje da donosioci odluka u Srbiji prihvate i primenjuju međunarodne i evropske standarde, principe i dokumenta u domenu retkih bolesti, kako bi se osobama sa retkim bolestima i osobama sa invaliditetom nastalim kao posledica retke bolesti omogućio najviši mogući kvalitet života;</li>
    <li>zalaganje za usvajanje i primenu nacionalne politike u oblasti retkih bolesti i reformi nacionalnog zakonodavstva u skladu sa potrebama i interesima osoba sa retkim bolestima i osoba sa invaliditetom nastalim kao posledica retke bolesti;</li>
    <li> omogućavanje kroz nacionalne politike i zakonodavstvo posebne podrške porodicama čiji su članovi osobe sa retkim bolestima i osobe sa invaliditetom nastalim kao posledica retke bolesti. </li>
</ul>
<p>NORBS je član Evropske organizacije za retke bolesti – EURORDIS</p>
<a href="javascript:;" class="btn" download>NORBS STATUT</a>
