@inherits Umbraco.Web.Mvc.UmbracoViewPage<ArticlesViewModel>

@foreach (var module in Model.Modules)
{
    Html.RenderPartial("Modules/" + module.GetType().Name, module);
}
<script defer src="~/js/articles.js"></script>
<div class="tabs-block">
    <div class="wrap wrap--inner">
        <div class="tabs-block__container">
            <ul class="tabs-block__list tab-list">
                @foreach (var item in Model.Tabs)
                {
                    <li class="tabs-block__item tab-item">
                        <button type="button" class="tabs-block__btn js-tab tab">@item</button>
                    </li>
                }
            </ul>

            <div class="tabs-block__holder js-tab-holder">
                <h3 class="tabs-block__title h3 js-tab-title"></h3>
                    <div class="tabs-block__holder-cards">
                    </div>
                </div>
            </div>
    </div>
</div>