@model Norbs.Core.ViewModels.Partials.Layout.HeaderViewModel

@if (Model.NavigationItems != null && Model.NavigationItems.Count > 0)
{
    <ul>
        @foreach (var navigationItem in Model.NavigationItems)
        {
            <li>@navigationItem.Title</li>
        }
    </ul>

}
