// ----------  banner
// ------------------------------------------------------------------------------
.banner {
	margin-bottom: 20px;
}
.banner__content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	background-color: rgba($white, 0.5);
}
.banner__content--right {
	left: auto;
	right: 0;
}
.banner__title {
	font-size: 24px;
}
.banner__holder {
	position: relative;
}
