// ---------- call-block
// ------------------------------------------------------------------------------

.call-block {
	width: 100%;
	min-height: 520px;
	padding: 40px 0 60px;

	@include media-breakpoint-down(md) {
		min-height: 450px;
	}
}

.call-block__wrap {
	color: $white;
	text-align: center;
}

.call-block__heading {
	color: $white;
}

.call-block__number {
	display: block;
	font-size: 120px;
	line-height: 150px;
	font-weight: 600;

	@include media-breakpoint-down(lg) {
		font-size: 100px;
		line-height: 120px;
	}

	@include media-breakpoint-down(md) {
		font-size: 80px;
		line-height: 100px;
	}

	@include media-breakpoint-down(sm) {
		font-size: 60px;
		line-height: 80px;
		margin-bottom: 20px;
	}

	@include media-breakpoint-down(xs) {
		font-size: 45px;
		line-height: 70px;
	}
}

.call-block__paragraph {
	margin-bottom: 20px;
	color: $white;
}

.call-block__cta {
	margin: 0 auto;
}
