// ---------- contact-info
// ------------------------------------------------------------------------------

.contact-info {
	width: 100%;
	padding: 105px 0 0;
}
.contact-info__inner-container {
	max-width: 536px;
	margin: 0 auto 40px;
	ul {
		padding-left: 0;
	}
	@include media-breakpoint-down(md) {
		margin: 0 auto;
		text-align: center;
	}
	@include media-breakpoint-down(md) {
		flex-direction: column-reverse;
	}
	.rte {
		margin: 0 auto;
	}
}
.contact-info__img-container {
	max-width: 450px;
	@include media-breakpoint-down(md) {
		margin-bottom: 30px;
	}
}
