// ---------- iframe-form
// ------------------------------------------------------------------------------

.iframe-form {
	width: 100%;
}
.iframe-form__container {
	height: 180vh;
}
.iframe-form__form {
	width: 100%;
	height: 100%;
}
