// ---------- resource-card
// ------------------------------------------------------------------------------

.resource-card {
	width: 30%;
	margin-right: 3%;
	margin-bottom: 50px;
	@include media-breakpoint-down(sm) {
		width: 40%;
		margin-right: 4%;
	}
	@include media-breakpoint-down(xs) {
		width: 100%;
		margin-right: 0;
	}
}

.resource-card__iframe-block {
	width: 100%;
	height: 168px;
	margin-bottom: 10px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 6px;
	}
}

.resource-card__iframe {
	height: 100%;
	width: 100%;
}

.resource-card__img-block {
	width: 100%;
	height: 168px;
	margin-bottom: 10px;
	@include media-breakpoint-down(sm) {
		margin-bottom: 6px;
	}
}

.resource-card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.resource-card__title {
	line-height: 30px;
	margin-bottom: 25px;
	color: $grey;
	@include media-breakpoint-down(sm) {
		margin-bottom: 15px;
	}
}

.resource-card__link {
	display: block;
	text-align: right;
	text-transform: uppercase;
}
