@inherits UmbracoViewPage<Norbs.Models.Generated.ArticleBodyModule>

<main class="main">
    <div class="rte">
        @if (Model.Rte != null)
        {
            @Html.Raw(Model.Rte)
        }
    </div>
</main>
