@inherits UmbracoViewPage<Norbs.Models.Generated.ArticleBodyModule>

<div class="wrap wrap--inner">
    <div class="rte">
        @if(Model.Rte != null)
            {
                @Model.Rte
            }
    </div>
</div>