@inherits UmbracoViewPage<Norbs.Models.Generated.ReadMoreModule>

<div class="mix-block">
    <div class="wrap">
        <div class="mix-block__wrap">
            <div class="mix-block__text">
                <h2 class="h2 mb40 mix-block__heading">Želite da znate više o retkim bolestima?</h2>
                <p class="text mix-block__desc mb40">Potrudili smo se da damo precizne odgovore na veliki broj često postavljanih pitanja iz domena zdravstvene i socijalne zaštite, obrazovanja i zapošljavanja. Baza odgovora na česta pitanja je započeta krajem 2015. godine i u planu je da raste i razvija se u skladu sa Vašim potrebama.</p>
                <a href="javascript:;" class="btn mix-block__link">Pročitaj više</a>
            </div>
            <div class="mix-block__img">
                <img src="assets/images/quote-img.jpg" alt="Quote img" class="mix-block__img-item">
            </div>
        </div>
    </div>
</div>
